body {
	font-size: 1.5em;
}

li > a {
	font-size: 2em;
}

@media (min-width: 1200px) {
	.navbar-brand {
		padding: 7px 15px !important;
	}

	.navbar-brand > img {
		width: 180px !important;
	}
}

/* .navbar-brand:hover {
	background: #1ba99b !important;
} */

.container {
	width: 85%;
}

@media (max-width: 1180px) {
	.container {
		width: 100%;
	}
}

/* Dashboard width fix */
#tiles > .row {
	margin-left: 0;
	margin-right: 0;
}

.navbar-brand > img {
	width: 130px;
}

.banner-image {
	display:block;
    margin:auto;
}

#button-container {
	width: 100%;
	text-align: center;
}

.splash-call-to-action {

}

#subnav {
	width: 100%;
    background: #f9f9f9;
    height: 80px;
    top: 61px;
    position: fixed;
    z-index: 555;
    display: block;
}

#subnav > .container {
	height: 100%;
}

@media (max-width: 1200px) {
	#subnav {
		top: 50px;
	}

	#dash-fullsize {
    	margin-top: 130px !important;
    	height: calc(100vh - 130px) !important;
	}

	.dashboard-nav {
		height: calc(100vh - 130px) !important;
	}

	.dashboard-item {
    	height: calc(50vh - 65px) !important;
	}
}

@media (max-width: 992px) {

	#dash-mobile {
    	margin-top: 120px !important;
    	height: calc(100vh - 120px) !important;
	}

	.dashboard-nav {
		height: calc(100vh - 120px) !important;
	}

	.dashboard-item {
    	height: calc(40vh - 60px) !important;
	}
}

.button-wrapper {
	height: 100%;
	display: inline-block;
}

.button-wrapper > a {
	top: 14px;
}

.navbar {
	margin-bottom: 0px !important;
}

#dash-fullsize {
	margin-top: 140px;
    height: calc(100vh - 140px);
}

@media (max-width: 992px) {
	#dash-fullsize {
		visibility: hidden;
		display: none;
	}
}

@media (min-width: 992px) {
	#dash-mobile {
		visibility: hidden;
		display: none;
	}
}

.dashboard-nav {
	/* position: static; */
    width: 100%;
    bottom: 0;
    /* height: 80vh; */
    height: calc(100vh - 140px);
    /* min-height: 100%; */
}

@media (min-width: 992px) and (min-height: 1080px) {
	.dashboard-nav {
		bottom: 0;
	}
}

/* Tiles */
.dash-tile-messages {
	background-color:#9e4c3b;
}
.dash-tile-newsfeed {
	background-color:#d2ab59;
}
.dash-tile-photos {
	background-color:#549767;
}
.dash-tile-family {
	background-color:#34908f;
}
.dash-tile-profile {
	background-color:#756099;
}
.dash-tile-settings {
	background-color:#346ca4;
}




.dashboard-item {
	/* height: 350px; */
	/* height: 41vh; */
	/* height: 44vh; */
	height: calc(50vh - 70px);
}

@media (max-width: 768px) {
	.dashboard-item {
		height: 220px;
	}
}

.dashboard-item:hover {
	cursor: pointer;
}

.dashboard-heading {
	height: 200px;
}

.dashboard-heading > h1 {
	top: 25%;
    display: block;
    position: relative;
    height: 30px;
}

.welcome-greeting {
	white-space: nowrap;
}

@media (max-width: 768px) {
	.welcome-greeting > h1 {
		font-size: 1.8em;
	}

	.dashboard-weather {
		display: none;
		visibility: hidden;
	}

	#subnav {
		height: 70px;
	}
}

.dashboard-weather {
	text-align: right;
	/* height: 30px; */
}

.weather > div {
	display: inline;
}

.weather > img {
	/* height: 100%; */
	height: 30px;
	margin-top: -5px;
	margin-right: 8px;
}

.dashboard-icon {
	/* position:absolute; */
    width:100%;
    height:100%;
    text-align: center;
}

.dashboard-icon > img {
	width: 100px;
	/* height: 100px; */
}

@media (min-width: 900px) {

	/* .dashboard-icon {
	    width:100%;
	    height:100%;
	    text-align: center;
	} */

	.dashboard-icon > img {
		width: 100px;
		/* height: 100px; */
	}

	.messages > img {
		width: 150px;
	}

	.photos > img {
		width: 120px;
	}

	.family > img {
		width: 130px;
	}

	.profile > img {
		width: 120px;
	}

	.settings > img {
		width: 110px;
	}
}


.centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

/* .img-bg {
	background: red;
	border-radius: 100%;
    width: 200px;
    height: 200px; 
} */

.tile-title {
	display: block;
    color: white;
    z-index: 555;
    position: relative;
    /* line-height: 0; */
    padding: 0;
    margin-top: -75px;
    font-weight: 400;
    font-size: 2.5em;
}

@media (max-width: 768px) {
	.tile-title {
    margin-top: -45px;
    font-size: 1.5em;
	}
}

.newsfeed > .tile-title {
	text-shadow: 1px 2px #7d7d7d;
}

/* Animation fix */
.hvr-curl-top-right {
    display: block !important;
}

#wrap {
    min-height: 100%;
    padding-bottom: 150px;
    font-size: 16px;
}
#centered {
    min-height: 80%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.panel-heading {
	font-size: 1.5em;
	font-weight: 500;
	color: #5d5d5d !important;
}

label {
	font-size: 1.2em !important;
	color: #5d5d5d !important;
}

.form-control {
	height: 70px !important;
}


/* Messages */

.messages-container {
	height: 100vh;
	/* margin-top: -10px; */
}

.conversations-container {
	height: 100vh;
	background: #e4e4e4;
}

.conversations-container > h3 {
	text-align: center;
	font-weight: bold;
}

.chat-container {
	background: #444753;
	margin-top: 140px;
    bottom: 0;
    /* position: fixed; */
    width: 100%;
}

@media (max-width: 1200px) {
	.people-list {
		visibility: hidden;
		display: none;
	}
}



/* Chat responsive fixes */

#chat-height-fixer {
	margin-top: 140px;
    height: calc(100vh - 140px);
}

.chat-container {
	height: calc(100vh - 140px);
}

.chat {
	height: calc(100vh - 140px);
    /* overflow: auto; */
    overflow: hidden;
}

.chat .chat-history {
	height: calc(100vh - 430px);
}

.people-list ul {
	height: 100%;
}



/* Photos */

.photo-grid-item {
	width: 400px;
	min-height: 300px;
	max-height: 300px;
	object-fit: cover;
}


/* Profile */

/* .profile-pic {
	border-radius: 100%;
	width: 250px;
	height: 250px;
	object-fit: cover;
	margin-left: 15px;
    margin-top: 60px;
}

.change-profile-pic {
	margin-left: 0px;
} */


.push-top-profile {
	margin-top: 120px;
}

/* Profile container */
.profile-page {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


/* My Family */

.list-content{
 min-height:300px;
}
.list-content .list-group .title{
  background:#5bc0de;
  border:2px solid #DDDDDD;
  font-weight:bold;
  color:#FFFFFF;
}
.list-group-item img {
    height:80px; 
    width:80px;
}

.jumbotron .btn {
    padding: 5px 5px !important;
    font-size: 12px !important;
}
.prj-name {
    color:#5bc0de;    
}
.break{
    width:100%;
    margin:20px;
}
.name {
    color:#5bc0de;    
}






.panel {
	border-radius: 10px;
}

.push-top {
	margin-top: 140px;
}

footer {
    position: absolute;
    width: 100%;
    height: 200px;
    background: #009688;
    color: white;
    font-size: 1.2em;
    padding-top: 95px;
    margin-top: 50px;
    text-align: center;
}

.section-spacer {
	margin-top: 100px;
}

.section-spacer-about {
	margin-top: 100px;
}


.features-image {
	border-radius: 5px;
}

.feature-image-container {
	padding-bottom: 30px;
}

#welcome-banner {
	height: 200px;
	width: 100%;
	background: #4cbeb6;
}

#welcome-banner-msg {
	width: 100%;
    text-align: center;
    color: white;
}

#welcome-banner-msg h1 {
	padding-top: 80px;
 }

/* .features-img {
	max-width: 300px;
	height: 300px;
	border-radius: 100%;
	background-size: cover;
}

.features-img-1 {
	background-image: url('../img/gentleman-mobile2.jpg');
} */